{% extends "header.html" %}

{% block content %}
<style>
  .ns-resize {
    cursor: ns-resize;
  }

  #report_table tr.header,
  #report_table tr:hover {
    background-color: #f1f1f1;

  }
</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<div class="container">
  {{ charts_init }}
  {% if categary == "ins_cov" %}
  <legend> Analyze instance types coverage:</legend>
  {{ charts.instance_coverage }}
  <br></br>
  {% elif categary == "case_pass" %}
  <legend>Analyze pass rate:</legend>
  {{ charts.caserate}}
  <br></br>
  {% elif categary == "case_run" %}
  <legend>Analyze cases status in each run:</legend>
  {{ charts.caseschart}}
  {% elif categary == "case_day" %}
  <legend>Analyze cases run per day:</legend>
  {{ charts.casesperday}}
  {% endif %}

</div>
{% endblock %}