{% extends "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
<style>
    .ns-resize {
        cursor: ns-resize;
    }

    #report_table tr.header,
    #report_table tr:hover {
        background-color: #f1f1f1;

    }
</style>

<div class="container">
    <legend>Add data to {{ project_name }}</legend>
    {{ wtf.quick_form(project_data_form,form_type="horizontal",horizontal_columns=('lg', 1, 2),action=url_for('main.add_data', project_name=project_name)) }}
</div>>
{% endblock %}