{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/pagination.html" as pg %}
{% block title %}EC2 Report Viewer{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">EC2 Report Viewer</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('main.index') }}">Home</a></li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects List
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% for project in projects %}
                    <li><a href="{{ url_for('main.view',project_name=project.project_name) }}"> {{ project.project_name }} </a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                {% if 'show_chart' in request.path %}

                {{ wtf.quick_form(form,form_type="inline",horizontal_columns=('sm', 0, 0),extra_classes="input-group navbar-form navbar-left") }}
                {% elif 'create_project' in request.path %}
                {% elif 'index' in request.path %}
                {% elif 'user' in request.path %}

                {% else %}
                <form class="navbar-form navbar-left">

                    <div class="input-group">
                        <input type="text" class="form-control" id="myInput" type="text"
                            placeholder="Fast search in current page ...">
                        <div class="input-group-btn">
                            <button tabindex="-1" class="btn btn-default" type="button">Per Page</button>
                            <button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                                type="button">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="per_page">
                                {% if 'search_input' in request.url %}
                                <li role="presentation"><a role="menuitem" tabindex="-1" href={{ url_for('main.view',project_name=project_name,search_input=search_input,select_item=select_item,per_page=50) }}>50</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href={{ url_for('main.view',project_name=project_name,search_input=search_input,select_item=select_item,per_page=100) }}>100</a>
                                </li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href={{ url_for('main.view',project_name=project_name,search_input=search_input,select_item=select_item,per_page=200) }}>200</a>
                                </li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href={{ url_for('main.view',project_name=project_name,search_input=search_input,select_item=select_item,per_page=1000) }}>1000</a>
                                </li>
                                {% else%}
                                <li role="presentation"><a role="menuitem" tabindex="-1" href={{ url_for('main.view',project_name=project_name,per_page=50) }}>50</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href={{ url_for('main.view',project_name=project_name,per_page=100) }}>100</a>
                                </li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href={{ url_for('main.view',project_name=project_name,per_page=200) }}>200</a>
                                </li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href={{ url_for('main.view',project_name=project_name,per_page=1000) }}>1000</a>
                                </li>

                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </form>

                {{ wtf.quick_form(form,form_type="inline",horizontal_columns=('sm', 0, 0),extra_classes="input-group navbar-form navbar-left") }}

                {% endif %}
            </li>
            {% if current_user.is_authenticated %}
            <li class="active"><a href="{{ url_for('main.create_project') }}">New Project</a></li>
            {% endif %}
        </ul>

        <ul class="nav navbar-nav navbar-right">

            {% if current_user.is_authenticated %}
            <li class="navbar-text">
                Welcome,{{ current_user.username }}!
            </li>
            <li class="navbar-item"><a href="{{ url_for('main.logout') }}">
                    <span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% else %}
            <li class="navbar-item"><a href="{{ url_for('main.login') }}">
                    <span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
            <li>
                <a class="fa fa-github" style="font-size:24px" href="https://github.com/liangxiao1/report_view"></a>
            </li>
        </ul>

    </div>
</nav>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
{{ utils.flashed_messages(dismissible=True, container=True) }}

{% endblock %}