{% extends "header_v2.html" %}

{% block content %}
<style>
  .ns-resize {
    cursor: ns-resize;
  }

  #report_table tr.header,
  #report_table tr:hover {
    background-color: #f1f1f1;

  }
</style>

<table class="table table-bordered table-striped table-condensed" id='report_table'>
  <thead>
    <tr class="header">
      {% for project_item in project_items %}
      <th class="ns-resize" onclick="sortTable({{ project_items.index(project_item) }})">{{ project_item }}</span></th>
      
      {% endfor %}
      <th class="ns-resize">Edit </th>
    </tr>
  </thead>
  <tbody id='report_body'>
    {% for item_data in project_data %}
    <tr>
      <td>{{ item_data.id }}</td>
      <td>{{ item_data.project_name }}</td>
      {% if item_data.field_1 !=  None %}
      <td>{{ item_data.field_1 }}</td>
      {% endif %}
      {% if item_data.field_2 != None %}
      <td>{{ item_data.field_2 }}</td>
      {% endif %}
      {% if item_data.field_3 != None %}
      <td>{{ item_data.field_3 }}</td>
      {% endif %}
      {% if item_data.field_4 != None %}
      <td>{{ item_data.field_4 }}</td>
      {% endif %}
      {% if item_data.field_5 != None %}
      <td>{{ item_data.field_5 }}</td>
      {% endif %}
      {% if item_data.field_6 != None %}
      <td>{{ item_data.field_6 }}</td>
      {% endif %}
      {% if item_data.field_7 != None %}
      <td>{{ item_data.field_7 }}</td>
      {% endif %}
      {% if item_data.field_8 != None %}
      <td>{{ item_data.field_8 }}</td>
      {% endif %}
      {% if item_data.field_9 != None %}
      <td>{{ item_data.field_9 }}</td>
      {% endif %}
      {% if item_data.field_10 != None %}
      <td>{{ item_data.field_10 }}</td>
      {% endif %}
      {% if item_data.field_11 != None %}
      <td>{{ item_data.field_11 }}</td>
      {% endif %}
      {% if item_data.field_12 != None %}
      <td>{{ item_data.field_12 }}</td>
      {% endif %}
      {% if item_data.field_13 != None %}
      <td>{{ item_data.field_13 }}</td>
      {% endif %}
      {% if item_data.field_14 != None %}
      <td>{{ item_data.field_14 }}</td>
      {% endif %}
      {% if item_data.field_15 != None %}
      <td>{{ item_data.field_15 }}</td>
      {% endif %}
      {% if item_data.field_16 != None %}
      <td>{{ item_data.field_16 }}</td>
      {% endif %}
      {% if item_data.field_17 != None %}
      <td>{{ item_data.field_17 }}</td>
      {% endif %}
      {% if item_data.field_18 != None %}
      <td>{{ item_data.field_18 }}</td>
      {% endif %}
      {% if item_data.field_19 != None %}
      <td>{{ item_data.field_19 }}</td>
      {% endif %}
      {% if item_data.field_20 != None %}
      <td>{{ item_data.field_20 }}</td>
      {% endif %}
      <td><a href="{{ url_for('main.update_data',log_id=item_data.id) }}"><span class='glyphicon glyphicon-edit'></span></a>
      </td>

    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
  {{ pg.render_pagination(pagination) }}
</div>
<script>
  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#report_body tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
    $('#per_page').change(function () {
      this.form.submit();
    });
    $("select_item").on("click", "li", function () {
      $("#select_item").val($(this).text());
    });
    $("#btn_GO").click(function () {
      this.form.submit();
    });

  });

  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("report_table");
    switching = true;
    //Set the sorting direction to ascending:
    dir = "asc";
    /*Make a loop that will continue until
    no switching has been done:*/
    while (switching) {
      //start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /*Loop through all table rows (except the
      first, which contains table headers):*/
      for (i = 1; i < (rows.length - 1); i++) {
        //start by saying there should be no switching:
        shouldSwitch = false;
        /*Get the two elements you want to compare,
        one from current row and one from the next:*/
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /*check if the two rows should switch place,
        based on the direction, asc or desc:*/
        if (dir == "asc") {

          if (Number(x.innerHTML.toLowerCase()) > Number(y.innerHTML.toLowerCase())) {
            shouldSwitch = true;
            break;
          }
          if (Number.isInteger(Number(x.innerHTML.toLowerCase()))) {
            continue;
          }

          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {

          if (Number(x.innerHTML.toLowerCase()) < Number(y.innerHTML.toLowerCase())) {
            shouldSwitch = true;
            break;
          }
          if (Number.isInteger(Number(x.innerHTML.toLowerCase()))) {
            continue;
          }

          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /*If a switch has been marked, make the switch
        and mark that a switch has been done:*/
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        //Each time a switch is done, increase this count by 1:
        switchcount++;
      } else {
        /*If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again.*/
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }



</script>


{% endblock %}